body {
    /*background-color: #c8cc84 /*#a4bc74 #ddc738*/
    background: linear-gradient(to bottom left,#acc469,#c8cc84, #acc469);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

h1{
    text-align: center;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

.container {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1250px;
    gap: 50px; /* Add spacing between text and image */
}

.leftText {
    max-width: 600px;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding-right: 20px;
}

.leftText h2{
    margin-top: 24px;
    margin-bottom: 15px;
}

.beeImg img {
    max-width: 100%;
    height: auto ;
    border-radius: 10px;
}

.btnSection {/*
    display: flex;
    align-items: center;
    gap: 24px;*/
    min-height: 150px;
    margin-top: 25px;
}

.petBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FFF5B3;
    border: 4px solid #DDC738;
    padding:14px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.petBtn:hover{
    padding: 15px;
    padding-right: 32px;
    padding-left: 32px;
    font-size: 21px;
}

.btnSection img {
    width: 35px;
    height: auto;
}

.counter{
    display: flex;
    align-items: center;
    gap: 5%;
}

.counter p{
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 100%, 50%);
    background-color: #130e2d50;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    /*text-shadow: 0 0 5px #FFFFFF;
    color: hsl(34,100,50);*/
}

.outputField{
    min-height: 45px;
    font-size: 32px;
    color: #8A0303;
}


.authorFooter{
    display: flex;
    background-color: #ddc738;
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.authorFooter a {
    font-family: Helvetica;
    text-decoration: none;
    color: black;
    font-weight:bold;
    font-size: 12px;
    transition: 0.4s;
    padding: 12px;
    min-height: 15px;
}

.authorFooter a:hover {
    font-size: 13px;
    text-shadow: 0 0 5px #00000030;
}
